.ticket

  .ticket__default-info
    display: flex
    flex-flow: row nowrap
    height: 130px


  .ticket__dop-info
    border-top: 1px solid $el-line-gray
    display: flex
    flex-flow: row nowrap
    padding: 16px 24px


    h5
      font-size: 12px
      color: $txt-dark
      font-weight: 500
      margin: 0


    ul
      list-style: none
      margin: 0
      padding: 0
      font-size: 14px
      color: $txt-dark
      li
        margin-bottom: 4px
        line-height: 130%
        &:last-child
          margin-bottom: 0

        &.important
          color: $el-accent

        span
          display: block
          font-weight: 500
          color: $txt-gray
          font-size: 12px



    .left, .right
      display: flex
      align-items: flex-start
    .left
      width: 26.739%
    .right
      margin-left: auto
      width: 69.1304%

    &.ticket__dop-info--p-info
      align-items: center
      .left, .right
        align-items: center
      .place
        height: 19px
        display: flex
        background: $el-accent
        +border-radius
        color: $el-white
        font-weight: 500
        font-size: 12px
        padding: 0 5px
        align-items: center
        justify-content: center
        margin-right: 9px
        & + span
          font-weight: 500
          font-size: 12px
          color: $txt-dark


  &.ticket--default
    width: 83.3333%
    //height: 130px
    display: flex
    flex-flow: column nowrap
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.3)
    margin-bottom: 20px
    +border-radius





    &.ticket--order
      margin-top: 40px
      width: 82.905%
      flex-flow: column nowrap
      .ticket__buy-num
        margin-top: 5px
        color: $txt-gray
        font-size: 12px
        font-weight: 500
        height: 18px
      .label
        margin-top: 16px
    .ticket__info
      display: flex
      flex-flow: row nowrap
      height: 100%
      align-items: center
      padding-left: 24px
      width: 100%
      .ticket__date
        flex: 0 0 32.5797%
        margin-right: 30px
        &:first-child
          .ticket__date_time
            position: relative
            &::before
              content: ' '
              position: absolute
              width: 16px
              height: 7px
              background: url("../img/sprites/intermediate-svg/i-arrow-dir.svg") center no-repeat
              right: 0
              top: 50%
              transform: translateY(-50%)

      .ticket__other-info
        display: flex
        flex-flow: column nowrap
        .item
          display: flex
          flex-flow: column nowrap
          font-size: 12px
          font-weight: 500
          line-height: 146%
          margin-bottom: 14px
          &:last-child
            margin-bottom: 0
          span
            display: block
            &.title
              color: $txt-gray
            &.info
              color: $el-main

    .ticket__buy
      display: flex
      flex-flow: column nowrap
      height: 100%
      justify-content: center
      align-items: flex-start
      margin-left: auto
      padding-right: 30px
      padding-left: 27px
      position: relative
      flex: 0 0 202px
      &::before
        content: ' '
        height: 100%
        width: 8px
        background: url("../img/sprites/intermediate-svg/cut.svg") center no-repeat
        position: absolute
        left: -4px

      .ticket__buy-price
        color: $el-accent
        font-weight: 500
        font-size: 24px
        line-height: 29px
      .btn
        margin-top: 13px
        width: 140px
        height: 43px
        font-size: 15px
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.15)

  &.ticket--history
    &:first-child
      margin-top: 40px
    .ticket__history-info
      display: flex
      flex-flow: column nowrap
      align-items: flex-start
      height: 100%
      padding: 20px 0
      p
        margin-top: 0
        font-size: 24px
        font-weight: 500
        margin-bottom: 0
        color: $txt-dark
      span
        font-size: 12px
        font-weight: 500
        margin-top: 6px
        color: $txt-gray
      a.link--bordered
        color: $el-accent
        border-bottom-color: $el-accent
        font-size: 14px
        margin-top: auto

    .ticket__other-info
      margin-left: auto
      flex-flow: column wrap
      flex-wrap: wrap !important
      height: 86px
      margin-right: 16px
      width: 247px

      .item
        width: 115px
        &:nth-child(2n)
          margin-bottom: 0

    .ticket__buy
      padding-top: 20px
      padding-bottom: 20px
      .ticket__buy-num
        font-size: 12px
        color: $txt-gray
        font-weight: 500
        margin-top: 6px
        height: 18px

      .label
        margin-top: 14px

      .ticket__buy-action
        position: absolute
        top: 20px
        right: 24px


