mixin SectionNews
    section#news
        .container
            .section__head
                h3 Новости и объявления
                .action
                    a(href="news.html").btn.btn--action Все новости


            .owl-carousel
                +NewsItem(true)
                +NewsItem
                +NewsItem
                +NewsItem
                +NewsItem
                +NewsItem
                +NewsItem