//Компоненты

include ../../blocks/components/HeaderLogo/HeaderLogo
include  ../../blocks/components/Link/Link
include  ../../blocks/components/Button/Button
include  ../../blocks/components/Input/Input
include  ../../blocks/components/NewsItem/NewsItem
include  ../../blocks/components/Ticket/Ticket
include  ../../blocks/components/TicketDate/TicketDate
include  ../../blocks/components/BannerReturn/BannerReturn
include  ../../blocks/components/BannerImportant/BannerImportant
include  ../../blocks/components/GridsContainer/GridsContainer
include  ../../blocks/components/Card/Card
include  ../../blocks/components/Label/Label
include  ../../blocks/components/Tabs/Tabs
include  ../../blocks/components/Dropdown/Dropdown
include  ../../blocks/components/HeadOpened/HeadOpened
include  ../../blocks/components/Stepper/Stepper
include  ../../blocks/components/DropdownSort/DropdownSort
include  ../../blocks/components/CardPassengerData/CardPassengerData
include  ../../blocks/components/CardBusStation/CardBusStation
include  ../../blocks/components/DropdownPeoples/DropdownPeoples



//Моудули

include ../../blocks/modules/header/header
include ../../blocks/modules/footer/footer
include  ../../blocks/modules/SectionSearch/SectionSearch
include  ../../blocks/modules/SectionNews/SectionNews
include  ../../blocks/modules/SectionDownload/SectionDownload
include  ../../blocks/modules/SectionMap/SectionMap
include  ../../blocks/modules/Head/Head
include  ../../blocks/modules/TicketGrid/TicketGrid
include  ../../blocks/modules/Modals/Modals

