mixin TicketGrid
    section.ticket__grid
        .container
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            a(href="order-people.html" class="ticket__wrapper")
                +Ticket.ticket--default
            +BannerReturn
            +BannerImportant

