mixin TicketGrid
    section.ticket__grid
        .container
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +Ticket.ticket--default
            +BannerReturn
            +BannerImportant

