mixin BannerReturn
    .banner.banner--return
        .content
            h4 Березники — Пермь
            p Купите билеты и на обратное направление
            .links
                a(href="#") 17 августа
                a(href="#") 18 августа

        .img
            picture
                source(srcset='img/e344315c152ecdadb4655e050052abc7.webp' type="image/webp")
                img(src="img/e344315c152ecdadb4655e050052abc7.png" alt="")