extends ../layouts/default

block variables
	- const title = "Информация по безопасности перевозок"

block content
	+Head('article', 'Для пассажиров', 'Информация по безопасности перевозок')
	.container
		.article__page
			p.descriptor Автобусы, без всякого сомнения, — один из важнейших видов транспорта для туристов. Более того, в условиях сезонных осложнений с железнодорожными билетами автотранспорт становится своеобразной палочкой-выручалочкой для пассажиров.
			p Безопасности автобусных туров уделяется особое внимание. Устанавливаются общие для всех <a href="#">требования безопасности</a>. Техническое состояние технических средств и документация для осуществления пассажирских перевозок четко регламентируются нормами, инструкциями и правилами, в том числе и международными (если совершаются международные перевозки).
			p Водитель обязан иметь международные водительские права, технический паспорт на автомашину, страховку, разрешительные документы для пересечения границы и транзита, лицензии на право осуществления пассажирских перевозок.
			img(src="img/page-image.png")
			p Для автобусов, совершающих международные рейсы, нормы безопасности устанавливаются международными правилами.
			ul
				li Автобусы должны иметь три раздельные тормозные системы и систему антиблокировки колес. На горных дорогах полагаются ремни безопасности для каждого кресла пассажира.
				li Особые требования предъявляются к прочности стекол, наличию аварийных люков для экстренного аварийного выхода пассажиров.
				li В автобусах на доступных местах должны быть предупредительные надписи и специальный молоток для разбивания стекол во время аварии для обеспечения выхода пассажиров.
			p На пограничных контрольных пунктах автобус могут проверить на «трясучке», но чаще всего ограничиваются визуальным осмотром на предмет протечек масла или топлива.
			h2 Контроль скорости
			p По западноевропейским требованиям, автобусы должны быть оснащены тахографами для контроля скорости движения и продолжительности безостановочной езды. По правилам эксплуатации грузовых машин и пассажирских автобусов через определенное время водитель должен отдохнуть на стоянке. Тахограф скрупулезно регистрирует график и скорость движения, временные промежутки между остановками, а полицейские дорожные службы осуществляют надлежащий контроль и наказывают нарушителей на значительные суммы.
			h3 Дальние рейсы
			p На дальних рейсах автобус обычно обслуживают два водителя. Сопровождающий регулярно извещает но телефону направляющую фирму о ходе движения и коллизиях, связанных с поломками машины или чрезвычайными обстоятельствами. Водитель должен иметь надлежащее количество денег (лучше всего в виде кредитной карты) для возможного ремонта.
			h4 Пассажиры тоже отвечают за свою безопасность
			p Иногда пассажиры своим поведением сами создают угрозу безопасности своей жизни и жизни других пассажиров, поэтому разрабатываются специальные памятки о правилах поведения туристов во время путешествия, с которыми им дают ознакомиться перед поездкой.
			ol
				li курить в салоне автобуса;
				li разговаривать с водителем во время движения автобуса;
				li высовываться из окна при движении автобуса;
				li выбрасывать мусор и выливать воду из окна;
				li перемещаться по салону автобуса во время его движения по трассе;
				li самовольно покидать автобус.

			h2 Угроза терроризма
			p Немаловажной угрозой безопасности туристов и сохранности транспортного средства являются терроризм и бандитизм. Автобус с пассажирами представляет собой удобный объект для грабителей в силу особенности перемещения: транспортное средство движется без охраны, особенно вне населенных пунктов.
			blockquote
				p Автобусы захватывают, чтобы взять пассажиров в заложники для достижения различных целей: получить выкуп, обеспечить беспрепятственный выезд за границу для преступников, ради политических требований.
			p Поскольку туристы обычно везут с собой деньги и веши, типичны кражи багажа пассажиров из багажных отсеков автобусов при погрузке или выгрузке, на стоянках.
			table
				tr
					th Подразделение по безопасности
					th Номер контактного телефона
				tr
					td Телефоны доверия
					td 243-01-26, 243-01-31
				tr
					td Подразделение по борьбе с терроризмом
					td 202-01-26

			p Отряды специального назначения по борьбе с терроризмом обязательно отрабатывают приемы освобождения пассажиров автобуса с учетом максимально возможной безопасности для людей. Для пассажиров пишут специальные инструкции по поведению в случае захвата автобуса террористами.






block scripts
	script(src="js/main.js")