extends ../layouts/default

block variables
	- const title = "Информация по безопасности перевозок"

block content
	+Head('sudpages', 'Для пассажиров', 'Справочная информация')
		.head__supages-links
			a(href="page_subpages.html").head__subpages-item Правила возврата электронных билетов
			a(href="page_subpages.html").head__subpages-item Правила покупки, возврата билетов и посадки в автобус
			a(href="page_subpages.html").head__subpages-item Правила страхования
			a(href="page_subpages.html").head__subpages-item Инструкция по покупке билетов
			a(href="page_subpages.html").head__subpages-item Инструкция по оплате билетов в Сбербанк-Онлайн
			a(href="page_subpages.html").head__subpages-item Инструкция по оплате билетов в банкомате Сбербанка
			a(href="page_subpages_doc.html").head__subpages-item.head__subpages-active Нормативные акты

	.container
		.article__page
			#accordion.accordion-sudpages_doc
				h3
					span.accordion-label Выписка
					| Правила перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом
				div
					p
						| Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						| ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						| amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						| odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
				h3
					span.accordion-label Выписка
					| Устав автомобильного транспорта
				div
					p Пассажир обязан хранить билет, багажную квитанцию, квитанцию на провоз ручной клади в течение всей поездки и предъявлять их по первому требованию лиц, осуществляющих контроль. Контроль за наличием билета, багажной квитанции, квитанции на провоз ручной клади осуществляется в порядке, установленном правилами перевозок пассажиров.
					h4 Статья 21. Перевозки детей, следующих вместе с пассажиром
					p 1. При проезде в транспортном средстве, осуществляющем регулярные перевозки пассажиров и багажа, пассажир имеет право:
						p 1) перевозить с собой бесплатно в городском и пригородном сообщении детей в возрасте не старше семи лет без предоставления отдельных мест для сидения, за исключением случаев, предусмотренных частью 2 настоящей статьи;
						p 2) перевозить с собой бесплатно в междугородном сообщении одного ребенка в возрасте не старше пяти лет без предоставления отдельного места для сидения, за исключением случаев, предусмотренных частью 2 настоящей статьи.
					p 2. В случаях, если в установленном порядке запрещена перевозка в транспортных средствах детей без предоставления им отдельных мест для сидения, пассажир имеет право перевезти с собой двух детей в возрасте не старше двенадцати лет с предоставлением им отдельных мест для сидения за плату, размер которой не может составлять более чем пятьдесят процентов провозной платы.
					p 3. Пассажир обязан иметь при себе документ, который подтверждает возраст ребенка, перевозимого с предоставлением преимуществ по провозной плате, указанных в частях 1 и 2 настоящей статьи, и который в обязательном порядке предъявляется по первому требованию лиц, осуществляющих контроль за оплатой проезда.
			h3 Нормативные акты в полном объеме
			.docs__container
				a(href="#").card.card--default.card--docs
					.card__head
						span Правила перевозок пассажиров и багажа

					.card__content
						span RTF (412 КБ)
				a(href="#").card.card--default.card--docs
					.card__head
						span Устав автомобильного транспорта и городского наземного электрического транспорта

					.card__content
						span DOc  (189 КБ)






block scripts
	script(src="js/main.js")