extends ../layouts/default

block variables
	- const title = "Информация по безопасности перевозок"

block content
	+Head('sudpages', 'Для пассажиров', 'Справочная информация')
		.head__supages-links
			a(href="page_subpages.html").head__subpages-item.head__subpages-active Правила возврата электронных билетов
				a(href="page_subpages.html").head__subpages-item Правила покупки, возврата билетов и посадки в автобус
				a(href="page_subpages.html").head__subpages-item Правила страхования
				a(href="page_subpages.html").head__subpages-item Инструкция по покупке билетов
				a(href="page_subpages.html").head__subpages-item Инструкция по оплате билетов в Сбербанк-Онлайн
				a(href="page_subpages.html").head__subpages-item Инструкция по оплате билетов в банкомате Сбербанка
				a(href="page_subpages_doc.html").head__subpages-item Нормативные акты

	.container
		.article__page
			p.descriptor Билеты, <b>купленные на сайте</b> можно вернуть <b>только на сайте</b> (оформлять возврат должен тот, кто покупал билеты)
			p Пассажир имеет право на возврат билета до отправления транспортного средства и получение обратно полной стоимости проезда, перевозки багажа, провоза ручной клади в следующих случаях (статье 23 Устава автомобильного транспорта и городского наземного электрического транспорта (ФЗ 259-ФЗ№ от 08.11.2007)):
			ul
				li отмена отправления транспортного средства;
				li задержка отправления транспортного средства более чем на час;
				li предоставление пассажиру места в транспортном средстве с оплатой проезда по более низкой цене, чем в том транспортном средстве, на проезд в котором пассажиру продан билет;
				li непредставление пассажиру указанного в билете места.
			h4 Так же пассажир имеет право:
			ul
				li в случае опоздания к отправлению транспортного средства в течение трех часов или вследствие болезни, несчастного случая в течение трех суток с момента отправления транспортного средства, на которое был приобретен билет, получить обратно стоимость проезда, за вычетом 25% их стоимости;
				li в случае возврата билета не позднее чем за два часа до отправления транспортного средства получить обратно стоимость проезда, перевозки багажа, провоза ручной клади за вычетом 5% их стоимости;
				li в случае возврата билета менее чем за два часа до отправления транспортного средства получить обратно стоимость проезда, перевозки багажа, провоза ручной клади за вычетом 15% их стоимости.
				li При возврате неиспользованного билета, оплаченного банковской картой или электронными деньгами, возврат денежных средств осуществляется строго на банковскую карту или электронный кошелек Плательщика, с которой производилась оплата. Зачисление денежных средств осуществляется банком-эмитентом в установленные банком сроки.
				li Сбор за покупку билета на сайте и комиссионный сбор, взимаемый организацией-посредником за проведение оплаты билета, возврату не подлежат.





block scripts
	script(src="js/main.js")