extends ../layouts/default

block variables
    - const title = "Ваши билеты — Личный кабинет"

block content
    +Head('default', 'Смирнов Андрей Викторович', 'Личный кабинет')(userCabinet=true)
        +Tabs(false, [{link: 'user-ticket.html', text: 'Ваши билеты', active: true}, {
            link: 'user-data.html',
            text: 'Данные пользователя',
            active: false
        }]).head__tabs

    .container
        .container--user-ticket
            +Ticket("history").ticket--default.ticket--history
            +Ticket("history").ticket--default.ticket--history
            +Ticket("history", true).ticket--default.ticket--history
            +Ticket("history", true).ticket--default.ticket--history
            +Ticket("history", true).ticket--default.ticket--history
            a(href="#").btn.btn--white.btn--icon.btn--ticket-load
                .icon
                    include ../../img/svg/i-reload.svg
                span Загрузить ещё


block scripts
    script(src="js/main.js")