

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/normalize";
@import "../../node_modules/include-media/dist/include-media";


$breakpoints: ('p': 320px);
$breakpoints: ('t': 768px);
$breakpoints: ('d': 1170px);


@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";
@import "external/datepicker";
@import "external/modal";
@import "external/owl.carousel";
@import "external/tabs";
@import "base/user-ticket";
@import "base/user-data";
@import "base/page-question";

@import "external/accordion";
@import "base/page_subpages_doc";

@import "base/stations";

@import "base/search";

@import "base/article";
@import "base/news-page";

@import "base/modalSign";

