mixin SectionDownload
    section#download
        .container
            .content
                h3 Скачивайте приложение avperm.ru
                p Ваши билеты в вашем кармане. Через приложение можно вести историю покупок и получать напоминания об отправление рейсов.
                .buttons
                    a(href="#").btn.btn--google
                        span
                        include ../../../img/svg/i-google-play.svg
                        | Google Play
                    a(href="#").btn.btn--google
                        span
                        include ../../../img/svg/i-app-store.svg
                        | App Store
            .img
