mixin DropdownPeoples
    .dropdown__peoples
        .dropdown__peoples-head.dropdown__peoples-section
            span Пассажиры
            a(href="#").js-close-popup
                include ../../../img/svg/i-block-close.svg
        .dropdown__peoples-section
            span Смирнов Андрей Викторович
            a(href="#")
                include ../../../img/svg/i-garbage.svg
        .dropdown__peoples-section
            span Смирнова Ирина Сергеевна
            a(href="#")
                include ../../../img/svg/i-garbage.svg
