mixin SectionMap
    section#map
        .container
            h3 Покупайте билеты<div></div>без посредников
            p avperm.ru — это официальный представитель автовокзалов Пермского края и агрегатор касс по продаже билетов. Покупая билеты на avrerm.ru, вы совершаете заказ напрямую без всяких посредников, и при этом вам не нужно никуда ехать и стоять в очередях.
            .all-cities
                p Пункты отправлений
                .all-cities__grid
                    - var cities = [["Ашап",0  ], ["Березовка",0  ],   ["Губаха",0  ],   ["Ключи",0  ],   ["Лысьва",1  ],   ["Орда",0  ],   ["Пермь",1  ],   ["Сива",0  ],   ["Суда",0  ],   ["Чернушка",0  ],   ["Верещагино",0  ],   ["Добрянка",0  ],   ["Краснокамск",0  ],   ["Майкор",0  ],   ["Оса",1  ],   ["Очер",0  ],   ["Полазна",0  ],   ["Соколово",0  ],   ["Суксун",0  ],   ["Юго-Камск",0  ],   ["Барда",0  ],   ["Гайны",0  ],   ["Калинино",0  ],   ["Кудымкар",1  ],   ["Ныроб",0  ],   ["Павловский",0  ],   ["Рождественское",0  ],   ["Соликамск",1  ],   ["Уинское",0  ],   ["Юрла",0  ],   ["Березники",1  ],   ["Горнозаводск",0  ],   ["Карагай",0  ],   ["Кунгур",1  ],   ["Нытва",0  ],   ["Северный Коммунар (ФСК)",0  ],   ["Соль-Илецк",0  ],   ["Усть-Качка",0  ],   ["Юсьва",0]];
                    each cityRow in cities
                        - var city = cityRow[0]
                        - var isBold = cityRow[1]
                            a(href="#" class!=isBold?'bold':null)=city

                a(href="#").all-cities__show Показать все




