mixin CardPassengerData
    .card__passenger-data
        .icon
            include ../../../img/svg/i-block-user.svg
        .pass-info
            p Смирнов Андрей Викторович
            span Муж. / 12.04.1980 / Российская Федерация / 59 10 585153

        a(href="#").pass-delete
            include ../../../img/svg/i-garbage.svg