mixin DropdownSort
    .dropdown__sort
        .dropdown__sort--selected Сортировка

        .dropdown__sort--items
            .item.item--selected Стоимость
            .item Время отправления
            .item Время прибытия
            .item Время в пути

