mixin Label(type='brone')
    if type === 'payed'
        .label.label--payed Оплачен
    if type === 'brone'
        .label.label--brone Бронь 43 мин.
    if type === 'deleted'
        .label.label--deleted Отменен
    if type === 'ended'
        .label.label--ended Завершен