mixin Stepper
    .stepper
        .stepper__action.stepper__minus
            include ../../../img/svg/i-minus.svg

        .stepper__value
            input(type='text', disabled, value="1")

        .stepper__action.stepper__plus
            include ../../../img/svg/i-plus.svg
