mixin Footer
    footer
        .container
            .footer__row
                .footer__col.footer__col_logo
                    include ../../../img/svg/avperm-logo-v-left_filal.svg
                .footer__col.footer__col-links
                    a(href="index.html") Поиск билетов
                    a(href="stations.html") Автовокзалы
                    a(href="page-question.html") Частые вопросы
                    a(href="news.html") Новости
                    a(href="contact.html") Контакты и услуги
                    a(href="page_subpages.html") Наши партнеры
                .footer__col.footer__col-links
                    a(href="#") Возврат билетов
                    a(href="feedback.html") Обратная связь
                    a(href="#") Справочная информация
                    a(href="#") Расписание электропоездов
                    a(href="#") Информация по безопасности
                    a(href="#") Политика конфиденциальности
                .footer__col.footer__col-last
                    .footer__col-item
                        p Техподдержка
                        a(href="mailto:").link--bordered help@av-prikamie.ru
                    .footer__col-item
                        p Мобильные приложения
                        .footer__col-buttons
                            a(href="#").btn.btn--google
                                span
                                include ../../../img/svg/i-google-play.svg
                                | Google Play
                            a(href="#").btn.btn--google
                                span
                                include ../../../img/svg/i-app-store.svg
                                | App Store
            .footer__row
                .footer__col.footer__col__copyright © 2016–2019 Автовокзалы Пермского края
                .footer__col.footer__col__pay-methods
                    include ../../../img/svg/payment-1-visa.svg
                    include ../../../img/svg/payment-2-mastercard.svg
                    include ../../../img/svg/payment-3-mir.svg
                    include ../../../img/svg/payment-4-sber.svg









