.head
  background: $el-main
  padding-top: 101px
  margin-top: -101px
  color: $el-white
  min-height: 300px
  +media(">=d")

    .m-subtitle
      display: none


  +media("<=d")
    padding-top: 71px
    margin-top: -71px
    min-height: 170px
    &.head--with-news
      .container
        min-height: unset
        padding-bottom: 64px

      .dropdown__sort
        width: 100%
        left: 1px
        bottom: 0
    .m-subtitle
      display: block !important
      font-size: 12px !important
      font-weight: 500 !important
      color: rgba($el-white, .7) !important
      margin-top: 6px !important

  .container
    margin-top: 60px
    +media("<=d")
      margin-top: 20px
      position: relative

  .head__title
    display: flex
    flex-flow: row nowrap

    .head__title__content

      .head__article
        max-width: 60.3333%
        margin-bottom: 51px
        +media("<=d")
          max-width: 100%
          margin-bottom: 20px



      .subtitle
        display: flex
        flex-flow: row nowrap
        align-items: center
        margin-top: -5px

        .back
          margin-right: 8px

      span
        font-size: 18px
        color: $el-white
        font-weight: normal
        line-height: 22px
        +media("<=d")
          font-size: 16px
          line-height: normal

      h1
        margin-top: 10px
        font-weight: bold
        font-size: 42px
        margin-bottom: 0
        +media("<=d")
          margin-top: 8px
          font-size: 28px
          margin-bottom: 15px

    .head__title__action
      margin-left: auto


  .head__content
    .head__tabs
      margin-top: 33px
      +media("<=d")
        overflow-x: auto
        margin-top: 5px
        .tab
          font-size: 14px
          white-space: nowrap


    .form__search
      margin-top: 35px
      padding-bottom: 60px

      +media("<=d")
        margin-top: 20px
        padding-bottom: 0
        width: calc(50% + 7.5px)
        height: 38px
        position: relative
        border: 1px solid rgba($el-white, .15)
        margin-left: -16px
        margin-bottom: -1px
        padding: 0
        &::before, &::after
          content: ' '
          position: absolute
          top: 50%
          transform: translateY(-50%)

        &::before
          content: 'ИЗМЕНИТЬ'
          left: 15px
          font-weight: 500
          font-size: 12px
          text-transform: uppercase

        &::after
          content: url("../img/sprites/intermediate-svg/i-arrow-menu_open.svg")
          right: 15px
          transform: rotate(180deg) translateY(25%)
          +transition

        &.js-form__search
          &::after
            transform: rotate(0deg) translateY(-50%)


        .inputs
          display: none

        &.js-form__search

          .inputs
            display: flex
            width: 100vw
            top: 37px
            background: $el-main
            padding: 15px
            z-index: 1
            padding-bottom: 17px

            .inputs__switcher
              top: 67.5px
              margin-right: 13px

            .w-270
              width: 100%
              flex: 0 0 100%
              max-width: 100%

            .w-170
              width: calc(50% - 8px)
              flex: 0 0 calc(50% - 8px)
              max-width: calc(50% - 8px)

            .search__date
              margin-right: 16px

              .dropdown
                left: 0
                right: unset

            .btn
              width: 100%
              max-width: 100%
              flex: 0 0 100%
              margin-right: 0
              margin-left: 0
              margin-top: 15px

      .w-270
        width: 270px
        flex: 0 0 270px
        max-width: 270px

      .w-170
        width: 170px
        flex: 0 0 170px
        max-width: 170px

      .btn
        margin-top: 0
        padding: 0
        width: 14.5299%
        margin-left: 15px
        margin-right: 15px


.head__supages-links
  display: flex
  width: 75%
  flex-flow: row wrap
  margin: 40px -15px 0
  padding-bottom: 33px
  +media("<=d")
    width: unset
    margin: 0
    padding-bottom: 0
    margin-left: -15px
    margin-right: -15px
    margin-top: 20px
    &.js-head__subpages-links
      .head__subpages-item
        display: inline-flex

  .head__subpages-item
    display: inline-flex
    padding-top: 10px
    margin-bottom: 24px
    font-size: 15px
    line-height: 140%
    font-weight: 500
    color: $el-white
    width: calc(33.333% - 30px)
    margin-left: 15px
    margin-right: 15px
    border-top: 1px solid $el-white

    +media("<=d")
      width: 100%
      display: none
      margin-left: 0
      margin-right: 0
      padding-top: 0
      min-height: 63px
      align-items: center
      border-top: 1px solid rgba($el-white, .15)
      padding-left: 15px
      padding-right: 35px
      margin-bottom: 0
      order: 2



    &.head__subpages-active
      color: $el-accent
      border-top-color: $el-accent
      +media("<=d")
        display: inline-flex
        border-top: 1px solid rgba($el-white, .15)
        margin-bottom: 0
        position: relative
        order: 1
        &::before
          content: ' '
          position: absolute
          width: 10px
          height: 6px
          background: url("../img/sprites/intermediate-svg/i-arrow-menu_open.svg") center no-repeat
          top: 50%
          transform: translateY(-50%) rotate(180deg)
          right: 15px



.head--with_map
  position: relative
  overflow: hidden
  background: transparent
  height: 600px
  +media("<=d")
    height: auto
    background: $el-main
    #map-container
      display: none
    .head__map-search
      margin-top: 0
      margin-bottom: 15px


      .btn
        width: 24px
        height: 24px
        padding: 0
        top: 50%
        transform: translateY(-50%)
        margin-right: 11px

        svg
          width: 24px
          height: 24px

      p
        margin-top: 0
        margin-bottom: 15px

  h1
    width: 340px
    +media("<=d")
      width: 100%

  .container
    position: absolute
    width: 671px
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    margin-left: -250px
    z-index: 3
    margin-top: 50px
    top: 50%
    +media("<=d")
      width: 100%
      position: relative
      margin-left: 0
      left: 0
      top: 0
      transform: unset

  .head__map-search
    width: 470px
    margin-top: 25px
    font-weight: normal
    font-size: 16px
    line-height: 140%
    +media("<=d")
      width: 100%
      margin-bottom: 15px

    .btn
      border: none
      background: transparent
      border-radius: 100px
      box-shadow: none
      position: absolute
      top: 0
      right: 0

      svg path
        fill: $el-accent


  #map-container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: inherit
    z-index: 1


    & > ymaps > ymaps > ymaps > ymaps > ymaps
      //box-shadow: inset 158px 10px 130px 26px rgba(0,0,0,0.75)
      box-shadow: inset 800px 0px 250px rgba(32, 42, 60, 0.8)
      @media screen and (min-width: 1440px)
        box-shadow: inset 1100px 0px 250px rgba(32, 42, 60, 0.8)
      +media("<=d")
        box-shadow: none


.head__small-map
  height: 420px
  +media("<=d")
    height: 400px

    position: relative
    &::before
      content: ' '
      width: 100%
      height: 69px
      top: 0
      left: 0
      background: $el-main
      position: absolute
      z-index: 3

    .container
      background: linear-gradient(0deg, rgba(32, 42, 60, 0.8), rgba(32, 42, 60, 0.8))
      padding-top: 17px
      padding-bottom: 0
      top: 100%
      transform: translateY(-100%)
      margin-top: 0



    #map-container
      display: block


  h1
    width: 100%

.head__search
  width: 770px
  position: relative
  +media("<=d")
    width: 100%
    &::after
      content: ' '
      display: block
      width: 100%
      height: 15px
    .btn
      margin-top: -7.5px

  label
    display: none

  input
    padding: 0 18px

  .btn
    position: absolute
    border: none
    border-radius: 38px
    width: 38px
    height: 38px
    padding: 0
    top: 50%
    right: 15px
    transform: translateY(-50%)
