.container__user-data
  width: 75%
  margin-top: 40px
  .inputs
    margin-bottom: -20px

  .btn
    width: 270px
    margin-top: 30px

  .card--user-data--passengers-data
    .card__content
      padding: 0
